html,html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body {
  font-family: 'Open Sans', sans-serif;
  background: white;
}
h2{
 
  

  margin-left: 450px;
  margin-bottom: 50px;
  font-size: 35px;

 


font: normal normal normal 32px/1.4em raleway,sans-serif ;color:#9155A7;

}

#plans,#plans ul,#plans ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline;
}

#pricePlans:after {
  content: '';
  display: table;
  clear: both;
}

#pricePlans {
  zoom: 1;
}

#pricePlans {
  max-width: 69em;
  margin: 0 auto;
}












#pricePlans #plans .plan1 {
  background: #f2be5e ; /*#8394ae*/
  float: left;
  width: 24%;
  text-align: center;
  border-radius: 5px;
  margin: 0 0 20px 0;

  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.planContainer1 .title h2 {
  font-size: 2.125em;
  font-weight: 300;
  color: black;
  margin: 0;
  padding: .6em 0;
  background-color: #DCE0DE;

}




.planContainer1.price p {
  background: #3e4f6a;

  background: -webkit-linear-gradient(top, #475975, #9155A7);
  background: -moz-linear-gradient(top, #475975,#364761);
  background: -o-linear-gradient(top, #475975, #364761);
  background: -ms-linear-gradient(top, #475975, #364761);
  background: linear-gradient(top, #475975, #364761);
  color: #fff;
  font-size: 1.2em;
  font-weight: 700;
  height: 2.6em;
  line-height: 2.6em;
  margin: 0 0 1em;
}



.planContainer1 .price p span {
  color: #8394ae;
}

.planContainer1 .options {
  margin-top: 10em;
}

.planContainer1 .options li {
  font-weight: 700;
  color: #364762;
  line-height: 2.5;
}

.planContainer1 .options li span {
  font-weight: 400;
  color: #979797;
}

.planContainer1 .button a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 2.8em;
  border: 2px solid #3e4f6a;
  display: inline-block;
  width: 80%;
  height: 2.8em;
  border-radius: 4px;
  margin: 1.5em 0 1.8em;
}



#credits {
  text-align: center;
  font-size: .8em;
  font-style: italic;
  color: #777;
}

#credits a {
  color: #333;
}

#credits a:hover {
  text-decoration: none;
}

@media screen and (min-width: 481px) and (max-width: 768px) {

#pricePlans #plans .plan1 {
  width: 49%;
  margin: 0 2% 20px 0;
}

#pricePlans #plans > li:nth-child(2n) {
  margin-right: 0;
}

}

@media screen and (min-width: 769px) and (max-width: 1024px) {

#pricePlans #plans .plan1 {
  width: 49%;
  margin: 0 2% 20px 0;
}

#pricePlans #plans > li:nth-child(2n) {
  margin-right: 0;
}

}

@media screen and (min-width: 1025px) {

#pricePlans {
  margin: 2em auto;
}

#pricePlans #plans .plan1 {
  width: 24%;
  margin: 0 1.33% 20px 0;

  -webkit-transition: all .25s;
     -moz-transition: all .25s;
      -ms-transition: all .25s;
       -o-transition: all .25s;
          transition: all .25s;
}

#pricePlans #plans > li:last-child {
  margin-right: 0;
}

#pricePlans #plans .plan1:hover {
  -webkit-transform: scale(1.04);
     -moz-transform: scale(1.04);
      -ms-transform: scale(1.04);
       -o-transform: scale(1.04);
          transform: scale(1.04);
}

.planContainer1 .button a {
  -webkit-transition: all .25s;
     -moz-transition: all .25s;
      -ms-transition: all .25s;
       -o-transition: all .25s;
          transition: all .25s;
}

.planContainer1 .button a:hover {
color: white;
  background: #f2be5e;
  border: 6px solid black;
}



}


































#pricePlans #plans .plan2 {
  background: #fa6161 ; /*#8394ae*/
  float: left;
  width: 24%;
  text-align: center;
  border-radius: 5px;
  margin: 0 0 20px 0;


  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.planContainer2 .title h2 {
  font-size: 2.125em;
  font-weight: 300;
  color: black;
  margin: 0;
  padding: .6em 0;
  background-color: #DCE0DE;

}




.planContainer2.price p {
  background:#fa6161;

  background: -webkit-linear-gradient(top, #475975, #9155A7);
  background: -moz-linear-gradient(top, #475975,#364761);
  background: -o-linear-gradient(top, #475975, #364761);
  background: -ms-linear-gradient(top, #475975, #364761);
  background: linear-gradient(top, #475975, #364761);
  color: #fff;
  font-size: 1.2em;
  font-weight: 700;
  height: 2.6em;
  line-height: 2.6em;
  margin: 0 0 1em;
}



.planContainer2 .price p span {
  color: #8394ae;
}

.planContainer2 .options {
  margin-top: 10em;
}

.planContainer2 .options li {
  font-weight: 700;
  color: #364762;
  line-height: 2.5;
}

.planContainer1 .options li span {
  font-weight: 400;
  color: #979797;
}

.planContainer2 .button a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 2.8em;
  border: 2px solid #3e4f6a;
  display: inline-block;
  width: 80%;
  height: 2.8em;
  border-radius: 4px;
  margin: 1.5em 0 1.8em;
}



#credits {
  text-align: center;
  font-size: .8em;
  font-style: italic;
  color: #777;
}

#credits a {
  color: #333;
}

#credits a:hover {
  text-decoration: none;
}

@media screen and (min-width: 481px) and (max-width: 768px) {

#pricePlans #plans .plan2 {
  width: 49%;
  margin: 0 2% 20px 0;
}

#pricePlans #plans > li:nth-child(2n) {
  margin-right: 0;
}

}

@media screen and (min-width: 769px) and (max-width: 1024px) {

#pricePlans #plans .plan2 {
  width: 49%;
  margin: 0 2% 20px 0;
}

#pricePlans #plans > li:nth-child(2n) {
  margin-right: 0;
}

}

@media screen and (min-width: 1025px) {

#pricePlans {
  margin: 2em auto;
}

#pricePlans #plans .plan2 {
  width: 24%;
  margin: 0 1.33% 20px 0;

  -webkit-transition: all .25s;
     -moz-transition: all .25s;
      -ms-transition: all .25s;
       -o-transition: all .25s;
          transition: all .25s;
}

#pricePlans #plans > li:last-child {
  margin-right: 0;
}

#pricePlans #plans .plan2:hover {
  -webkit-transform: scale(1.04);
     -moz-transform: scale(1.04);
      -ms-transform: scale(1.04);
       -o-transform: scale(1.04);
          transform: scale(1.04);
}

.planContainer2 .button a {
  -webkit-transition: all .25s;
     -moz-transition: all .25s;
      -ms-transition: all .25s;
       -o-transition: all .25s;
          transition: all .25s;
}

.planContainer2 .button a:hover {
color: white;
  background: #fa6161;
  border: 6px solid black;
}




}




















#pricePlans #plans .plan3 {
  background: #536eb7 ; /*#8394ae*/
  float: left;
  width: 24%;
  text-align: center;
  border-radius: 5px;
  margin: 0 0 20px 0;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}


.planContainer3 .title h2 {
  font-size: 2.125em;
  font-weight: 300;
  color: black;
  margin: 0;
  padding: .6em 0;
  background-color: #DCE0DE;

}




.planContainer3.price p {
  background: #536eb7;

  background: -webkit-linear-gradient(top, #475975, #9155A7);
  background: -moz-linear-gradient(top, #475975,#364761);
  background: -o-linear-gradient(top, #475975, #364761);
  background: -ms-linear-gradient(top, #475975, #364761);
  background: linear-gradient(top, #475975, #364761);
  color: #fff;
  font-size: 1.2em;
  font-weight: 700;
  height: 2.6em;
  line-height: 2.6em;
  margin: 0 0 1em;
}



.planContainer3 .price p span {
  color: #8394ae;
}

.planContainer3 .options {
  margin-top: 10em;
}

.planContainer3 .options li {
  font-weight: 700;
  color: #364762;
  line-height: 2.5;
}

.planContainer3 .options li span {
  font-weight: 400;
  color: #979797;
}

.planContainer3 .button a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 2.8em;
  border: 2px solid #3e4f6a;
  display: inline-block;
  width: 80%;
  height: 2.8em;
  border-radius: 4px;
  margin: 1.5em 0 1.8em;
}



#credits {
  text-align: center;
  font-size: .8em;
  font-style: italic;
  color: #777;
}

#credits a {
  color: #333;
}

#credits a:hover {
  text-decoration: none;
}

@media screen and (min-width: 481px) and (max-width: 768px) {

#pricePlans #plans .plan3 {
  width: 49%;
  margin: 0 2% 20px 0;
}

#pricePlans #plans > li:nth-child(2n) {
  margin-right: 0;
}

}

@media screen and (min-width: 769px) and (max-width: 1024px) {

#pricePlans #plans .plan3 {
  width: 49%;
  margin: 0 2% 20px 0;
}

#pricePlans #plans > li:nth-child(2n) {
  margin-right: 0;
}

}

@media screen and (min-width: 1025px) {

#pricePlans {
  margin: 2em auto;
}

#pricePlans #plans .plan {
  width: 24%;
  margin: 0 0% 20px 0;

  -webkit-transition: all .25s;
     -moz-transition: all .25s;
      -ms-transition: all .25s;
       -o-transition: all .25s;
          transition: all .25s;
}

#pricePlans #plans > li:last-child {
  margin-right: 0;
}

#pricePlans #plans .plan3:hover {
  -webkit-transform: scale(1.04);
     -moz-transform: scale(1.04);
      -ms-transform: scale(1.04);
       -o-transform: scale(1.04);
          transform: scale(1.04);
}

.planContainer3 .button a {
  -webkit-transition: all .25s;
     -moz-transition: all .25s;
      -ms-transition: all .25s;
       -o-transition: all .25s;
          transition: all .25s;
}

.planContainer3 .button a:hover {
color: white;
  background: #536eb7;
  border: 6px solid black;
}



}



























#pricePlans #plans .plan4 {
  background: #75cba8 ; /*#8394ae*/
  float: left;
  width: 24%;
  text-align: center;
  border-radius: 5px;
  margin: 0 0 20px 0;

  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.planContainer4 .title h2 {
  font-size: 2.125em;
  font-weight: 300;
  color: black;
  margin: 0;
  padding: .6em 0;
  background-color: #DCE0DE;

}




.planContainer4.price p {
  background: #3e4f6a;

  background: -webkit-linear-gradient(top, #475975, #9155A7);
  background: -moz-linear-gradient(top, #475975,#364761);
  background: -o-linear-gradient(top, #475975, #364761);
  background: -ms-linear-gradient(top, #475975, #364761);
  background: linear-gradient(top, #475975, #364761);
  color: #fff;
  font-size: 1.2em;
  font-weight: 700;
  height: 2.6em;
  line-height: 2.6em;
  margin: 0 0 1em;
}



.planContainer4 .price p span {
  color: #8394ae;
}

.planContainer4 .options {
  margin-top: 10em;
}

.planContainer4 .options li {
  font-weight: 700;
  color: #364762;
  line-height: 2.5;
}

.planContainer4 .options li span {
  font-weight: 400;
  color: #979797;
}

.planContainer4 .button a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 2.8em;
  border: 2px solid #3e4f6a;
  display: inline-block;
  width: 80%;
  height: 2.8em;
  border-radius: 4px;
  margin: 1.5em 0 1.8em;
}



#credits {
  text-align: center;
  font-size: .8em;
  font-style: italic;
  color: #777;
}

#credits a {
  color: #333;
}

#credits a:hover {
  text-decoration: none;
}

@media screen and (min-width: 481px) and (max-width: 768px) {

#pricePlans #plans .plan4 {
  width: 49%;
  margin: 0 2% 20px 0;
}

#pricePlans #plans > li:nth-child(2n) {
  margin-right: 0;
}

}

@media screen and (min-width: 769px) and (max-width: 1024px) {

#pricePlans #plans .plan4 {
  width: 49%;
  margin: 0 2% 20px 0;
}

#pricePlans #plans > li:nth-child(2n) {
  margin-right: 0;
}

}

@media screen and (min-width: 1025px) {

#pricePlans {
  margin: 2em auto;
}

#pricePlans #plans .plan4 {
  width: 24%;
  margin: 0px 1.33% 20px 10px;

  -webkit-transition: all .25s;
     -moz-transition: all .25s;
      -ms-transition: all .25s;
       -o-transition: all .25s;
          transition: all .25s;
}

#pricePlans #plans > li:last-child {
  margin-right: 0;
}

#pricePlans #plans .plan4:hover {
  -webkit-transform: scale(1.04);
     -moz-transform: scale(1.04);
      -ms-transform: scale(1.04);
       -o-transform: scale(1.04);
          transform: scale(1.04);
}

/*.planContainer4 .button a {
  -webkit-transition: all .25s;
     -moz-transition: all .25s;
      -ms-transition: all .25s;
       -o-transition: all .25s;
          transition: all .25s;
}

.planContainer4 .button a:hover {
color: white;
  background: #75cba8;
  border: 6px solid black;
} */





}
#abt {

  color: black;
  background: #DCE0DE;
  border: 1px solid black;
  border-radius: 6px;
  font-size: 26px;


}
